@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
img{
  border-radius:100%;
}


html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Tajawal', sans-serif;
  background: #0a0a0a;
  color: #fff;
}

h1, h2{
  font-family: 'Aref Ruqaa', serif;
}

